## Condition Instance Template
##
## NOTE:
## - Any line starts with'##' is a comment line--will be ignored
##
## - A local variable starts with '@<' and ends with '>@'
## - A global variable starts with '@@<' and ends with '>@@'
## - A variable name (local or global) should contain only letters, numbers, dots, underscores, or dashes
##
## - Values for local variables come from data provided in input CSV files
## - Make sure local variable names match column names in input CSV files
##
## - Values for global variables are defined in global-variables.csv
##
## - Any lines between '=@>' and '<@=' are head lines that will be output only once
##
=@>
Alias: COND-CAT = http://terminology.hl7.org/CodeSystem/condition-category
Alias: ELTSS-CAT = http://hl7.org/fhir/us/eLTSS/CodeSystem/eltss-condition-category-code
Alias: CC = http://terminology.hl7.org/CodeSystem/condition-clinical
Alias: CVS = http://terminology.hl7.org/CodeSystem/condition-ver-status
Alias: SCT = http://snomed.info/sct
<@=

Instance: @@<instance-id-prefix>@@-@<condition.id>@
InstanceOf: Condition
* subject = Reference(@<condition.subjectRef>@)
* clinicalStatus = CC#@<condition.clinicalStatus>@
* verificationStatus = CVS#@<condition.verificationStatus>@
* category = @<condition.category>@
* code = SCT#@<code>@
* code.text = "@<condition.code.text>@"
* code.coding.display = "@<condition.code.display>@"
* onsetDateTime = "@<condition.onsetDateTime>@"
* asserter = Reference(@<condition.asserterRef>@)
* asserter.display = "@<condition.asserter.display>@"
