## Coverage Instance Template
##
## NOTE:
## - Any line starts with'##' is a comment line--will be ignored
##
## - A local variable starts with '@<' and ends with '>@'
## - A global variable starts with '@@<' and ends with '>@@'
## - A variable name (local or global) should contain only letters, numbers, dots, underscores, or dashes
##
## - Values for local variables come from data provided in input CSV files
## - Make sure local variable names match column names in input CSV files
##
## - Values for global variables are defined in global-variables.csv
##
## - Any lines between '=@>' and '<@=' are head lines that will be output only once
##
## - Any lines starting with '// Pre-load' will be processed (lookups loaded), but not included in the output
##
=@>
Alias: COVCLASS = http://hl7.org/fhir/coverage-class
<@=

Instance: @@<instance-id-prefix>@@-@<coverage.id>@
InstanceOf: Coverage
Description: "An instance of Coverage"
* subscriber = Reference(@<subscriber>@)
* beneficiary = Reference(@<beneficiary>@)
* status = #@<status>@
* class.type = @<class.type>@
* class.value = "@<class.value>@"
* period.start = "@<period.start>@"
* period.end = "@<period.end>@"
* payor = Reference(@<payor>@)
* subscriberId = "@<subscriberId>@"
