## US Core DiagnosticReport Instance Template
##
## NOTE:
## - Any line starts with'##' is a comment line--will be ignored
##
## - A local variable starts with '@<' and ends with '>@'
## - A global variable starts with '@@<' and ends with '>@@'
## - A variable name (local or global) should contain only letters, numbers, dots, underscores, or dashes
##
## - Values for local variables come from data provided in input CSV files
## - Make sure local variable names match column names in input CSV files
##
## - Values for global variables are defined in global-variables.csv
##
## - Any lines between '=@>' and '<@=' are head lines that will be output only once
##
## - Any lines starting with '// Pre-load' will be processed (lookups loaded), but not included in the output
##
=@>
Alias: FUNCPERFCAT = http://terminology.hl7.org/CodeSystem/v2-0074
Alias: FUNCTIONINGCAT = http://terminology.hl7.org/CodeSystem/v2-0074
Alias: OBSCAT = http://terminology.hl7.org/CodeSystem/v2-0074
<@=

Instance: @@<instance-id-prefix>@@@<resource.id>@
InstanceOf: DiagnosticReport
Description: "An instance of US Core DiagnosticReport"
* subject = Reference(Patient/@@<instance-id-prefix>@@@<subject.reference>@)
* status = #final
* category[+] = FUNCTIONINGCAT#LP29684-5 "radiology"
// Pre-load code @<category:us-core>@ - Do Not Remove from template
* category[+] = FUNCPERFCAT#@<category:us-core.code>@ "@<category:us-core.display>@"
* effectiveDateTime = "@<effectiveDateTime>@"
// Pre-load code @<code>@ - Do Not Remove from template
* code = @<code.system>@#@<code.code>@ "@<code.display>@"
// Pre-load code @<performers>@ - Do Not Remove from template
* performer[+] = Reference(PractitionerRole/@@<instance-id-prefix>@@@<performers.practitionerRole.reference>@)
* performer[+] = Reference(Practitioner/@@<instance-id-prefix>@@@<performers.practitioner.reference>@)
* performer[+] = Reference(Organization/@@<instance-id-prefix>@@@<performers.organization.reference>@)
// Pre-load code @<conclusionCode>@ - Do Not Remove from template
* text = @<Conclusion [string]>@
