## Patient Instance Template
##
## NOTE:
## - Any line starts with'##' is a comment line--will be ignored
##
## - A local variable starts with '@<' and ends with '>@'
## - A global variable starts with '@@<' and ends with '>@@'
## - A variable name (local or global) should contain only letters, numbers, dots, underscores, or dashes
##
## - Values for local variables come from data provided in input CSV files
## - Make sure local variable names match column names in input CSV files
##
## - Values for global variables are defined in global-variables.csv
##
## - Any lines between '=@>' and '<@=' are head lines that will be output only once
##
## - Any lines starting with '// Pre-load' will be processed (lookups loaded), but not included in the output
##
=@>
Alias: Hl7FhirAdminGender = http://hl7.org/fhir/administrative-gender
Alias: Hl7V3MS = http://terminology.hl7.org/CodeSystem/v3-MaritalStatus
Alias: LANGVALSET = urn:ietf:bcp:47
Alias: Hl7V2TBL0131 = http://hl7.org/fhir/v2/0131
Alias: Hl7V3ROLE = http://terminology.hl7.org/CodeSystem/v3-RoleCode
<@=

Instance: @@<instance-id-prefix>@@@<patient.id>@
InstanceOf: USCorePatientProfile
Description: "An instance of USCorePatientProfile"
* active = true

* name.text = "@<name.given>@ @<name.family>@"
* name.given = "@<name.given>@"
* name.family = "@<name.family>@"

* identifier.system = "@<identifier.system>@"
* identifier.value = "@<identifier.value>@"

* gender = Hl7FhirAdminGender#@<gender>@

* birthDate = "@<birthDate>@"

* maritalStatus = Hl7V3MS#@<maritalStatus.code>@

* telecom@<index.telecom.value>@.value = "@<telecom.value>@"
* telecom@<index.telecom.value>@.system = #phone
* telecom@<index.telecom.value>@.use = #mobile

* address.text = "@<address.text>@"

* communication@<index.language.coding>@.language.coding = @<language.coding>@
* communication@<index.language.coding>@.preferred = true

* contact@<index.contact>@.name.text = "@<contact.name.text>@"
* contact@<index.contact>@.relationship@<index.contact.relationship.coding>@.coding = @<contact.relationship.coding>@
* contact@<index.contact>@.address.text = "@<contact.address.text>@"
* contact@<index.contact>@.telecom.system = #phone
* contact@<index.contact>@.telecom.value = "@<contact.telecom.value>@"

* generalPractitioner = Reference(@@<instance-id-prefix>@@@<generalPractitioner.reference>@)
