## PriorLevelOfCognitiveFunction Instance Template
##
## NOTE:
## - Any line starts with'##' is a comment line--will be ignored
##
## - A local variable starts with '@<' and ends with '>@'
## - A global variable starts with '@@<' and ends with '>@@'
## - A variable name (local or global) should contain only letters, numbers, dots, underscores, or dashes
##
## - Values for local variables come from data provided in input CSV files
## - Make sure local variable names match column names in input CSV files
##
## - Values for global variables are defined in global-variables.csv
##
## - Any lines between '=@>' and '<@=' are head lines that will be output only once
##
=@>
Alias: LNC = http://loinc.org
<@=

Instance: @@<instance-id-prefix>@@-@<resource.id>@
InstanceOf: PriorLevelOfCognitiveFunction
Description: "An instance of PriorLevelOfCognitiveFunction"
* subject = Reference(@<subject>@)
* status = #final
* code = LNC#11332-4 "History of Cognitive Function Narrative"
* extension[event-location].valueReference = Reference(@<location>@)
* extension[assistance-required].valueCodeableConcept = LNC#@<code>@
* extension[assistance-required].valueCodeableConcept.coding.display = "@<code.display>@"
* valueString = "@<text>@"
* performer = Reference(@<practitioner.role>@)
* effectivePeriod.start = "@<period.start>@"
* effectivePeriod.end = "@<period.end>@"
